//Placeholders and classes: ;
///Button placeholder
%button{
	color:white;
 text-decoration:none;
 padding:1%;
 font-family: Arial, sans-serif;
 font-size:1.5em;
}

%container{
	display: flex;
	align-items: center;
	justify-content: center;
}


