/* General styling */
* {
    font-family: "Merriweather", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    max-width: 1200px;
    background-color: #46418D;
    margin: 0 auto;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: darkblue;
    cursor: pointer;
}
/* End general styling */

/*Navigation bar mobile first*/
label {
    color: #DA3F3F;
    line-height: 40px;
    font-size: 2em;
    cursor: pointer;
    padding: 0.5em;
}

#nav-toggle {
    display:none;
}

nav {
    display:none;
    position: absolute;
    background-color: rgba(70,65,141, 0.95);
    padding-bottom: 1em;
}

#nav-toggle:checked + #wrapper nav{
    display: block;
    
}

nav a {
    color:white;
    display: block;
}

nav a:hover{
    color: grey;
    font-weight: bold;
}

nav ul li{
    padding: 1em 1em 0em 1em;
}

nav ul li ul li a{
    margin-left: 1.5em;
    color: #7994DF;
}

nav ul li ul li ul li a{
    margin-left: 3em;
    color: #C07575;
}


/* Navigation bar for desktop */
@media all and (min-width: 600px) {

    label {
        display: none;
    }

    nav {
        display: block;
        position: static;
        text-align: center;
        height: 40px;
        width: 1025px;
        margin: 0 auto;
        /*opacity: 0.8;*/
    }

    nav ul li{
        background-color: rgb(41, 21, 21);
        float: left;
        height: 40px;
        line-height: 40px;
        width: 200px;
        padding: 0;
        margin-right: 1px;
        text-align: center;
    }

    nav ul li ul li a, nav ul li ul li ul li a{
        margin: 0;
        color: white;
    }

    nav ul ul li span{
        font-size: 75%;
        color: white;
        text-shadow: 2px 2px gray;
    }

    /* rounded corners */
    .both_radius, .both_radius a{
        border-radius: 0px 0px 10px 10px;
    }

    #right_radius, #right_radius a{
        border-radius: 0px 0px 0px 10px;
    }

    #left_radius, #left_radius a{
        border-radius: 0px 0px 10px 0px;
    }


    /* Hiding dropdown-menu */
    nav ul ul li{
        display: none;
        position: relative;
        width: 200px;
    }

    nav ul ul ul{
        display: none;
        position: relative;
    }

    /* Showing dropdown-menu */
    nav ul li:hover ul li{
        display: block;
        margin: 0;
    }

    nav ul ul li:hover ul{
        display: block;
        position: absolute;
        top: 0px;
        left: 200px;
        margin: 0;
    }

    nav a:hover {
        background-color: #7994DF;
        color: white;
    }
}

.logo {
    font-size: 150%;
    color:whitesmoke;
    margin: 1em auto;
    text-align: center;
    text-shadow: 2px 2px gray;
    border-bottom: 2px dotted whitesmoke;
}

/* Article style; colors, paddings, hover-border */
.syndicate {
    background-color: slategrey;
    margin: 1em auto;
    box-shadow: 7px 7px 10px -1px rgba(0,0,0,0.75);
    max-width: 800px;
}

.syndicate:nth-of-type(3n+2) {
    background-color: slateblue;
    margin: 1em auto;
    box-shadow: 7px 7px 10px -1px rgba(0,0,0,0.75);
    max-width: 800px;
}

.syndicate p {
    color: whitesmoke;
    padding: 0.5em;
    margin-bottom: 0.5em;
}

.syndicate h3 {
    text-align: center;
    padding: 0.5em;
}

.syndicate p:hover{
    color: #535151;
}

/* End article style */

/* Summary blog; paddings and coloring */
.blog_summary{
    background-color: #7994DF;
    text-align: center;
}

.blog_summary li {
    margin: 0.5em;
    padding: 0.5em;
}

.blog_summary a:hover{
    color: #8D2B2B;
}

.blog_summary > span{
    color: yellow;
}

div > a:hover{
    color: #8D2B2B;
}
/* End summary */

/* Contact-footer; colors, text-alignment */
.contact {
    text-align: center;
    margin-top: 0.5em;
}

.tel ~ .web{
    color: white;
}
/* End contact-footer */